# Ignore node_modules ทั้ง frontend และ backend
app/node_modules/
server/node_modules/

# Build output React
app/build/

# Logs
**/*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# dotenv files
*.env
*.env.local
*.env.*.local

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: If using dist/ for backend builds
server/dist/
server/sc.js
server/scaddrq.js