USE [dbRequestSubmission]
GO
/****** Object:  User [natthawut_m]    Script Date: 15/11/2568 16:31:41 ******/
CREATE USER [natthawut_m] FOR LOGIN [natthawut_m] WITH DEFAULT_SCHEMA=[natthawut_m]
GO
ALTER ROLE [db_owner] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_datareader] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [natthawut_m]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [natthawut_m]
GO
/****** Object:  Schema [natthawut_m]    Script Date: 15/11/2568 16:31:41 ******/
CREATE SCHEMA [natthawut_m]
GO
/****** Object:  Table [dbo].[advisorGroup_no]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[advisorGroup_no](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](255) NULL,
	[group_no] [varchar](255) NULL,
 CONSTRAINT [PK_AdvisorGroupId] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_registration]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_registration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[major_id] [varchar](255) NULL,
	[study_group_id] [varchar](255) NULL,
	[course_id] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[major_id] [varchar](255) NOT NULL,
	[major_name] [varchar](255) NULL,
	[id_fac] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
 CONSTRAINT [PK_majors] PRIMARY KEY CLUSTERED 
(
	[major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_eng_test]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_eng_test](
	[request_eng_test_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](255) NULL,
	[study_group_id] [varchar](255) NULL,
	[major_id] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
	[request_type] [varchar](255) NULL,
	[term] [varchar](255) NULL,
	[request_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[advisor_approvals_id] [varchar](255) NULL,
	[advisor_approvals] [varchar](255) NULL,
	[advisor_approvals_date] [datetime] NULL,
	[chairpersons_approvals_id] [varchar](255) NULL,
	[chairpersons_approvals] [varchar](255) NULL,
	[chairpersons_approvals_date] [datetime] NULL,
	[registrar_approvals_id] [varchar](255) NULL,
	[registrar_approvals] [varchar](255) NULL,
	[registrar_approvals_date] [datetime] NULL,
	[comment] [varchar](max) NULL,
	[receipt_vol] [varchar](255) NULL,
	[receipt_No] [varchar](255) NULL,
	[receipt_pay] [varchar](255) NULL,
	[receipt_pay_date] [datetime] NULL,
 CONSTRAINT [PK__request___0246DE339FF9555F] PRIMARY KEY CLUSTERED 
(
	[request_eng_test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_exam]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_exam](
	[request_exam_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](255) NULL,
	[study_group_id] [varchar](255) NULL,
	[major_id] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
	[request_type] [varchar](255) NULL,
	[term] [varchar](255) NULL,
	[request_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[advisor_approvals_id] [varchar](255) NULL,
	[advisor_approvals] [varchar](255) NULL,
	[advisor_approvals_date] [datetime] NULL,
	[chairpersons_approvals_id] [varchar](255) NULL,
	[chairpersons_approvals] [varchar](255) NULL,
	[chairpersons_approvals_date] [datetime] NULL,
	[registrar_approvals_id] [varchar](255) NULL,
	[registrar_approvals] [varchar](255) NULL,
	[registrar_approvals_date] [datetime] NULL,
	[comment] [varchar](max) NULL,
	[receipt_vol] [varchar](255) NULL,
	[receipt_No] [varchar](255) NULL,
	[receipt_pay] [varchar](255) NULL,
	[receipt_pay_date] [datetime] NULL,
	[exam_results] [varchar](255) NULL,
 CONSTRAINT [PK__request___0246DE33E9192A60] PRIMARY KEY CLUSTERED 
(
	[request_exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_exam_cancel]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_exam_cancel](
	[request_cancel_exam_id] [int] IDENTITY(1,1) NOT NULL,
	[request_exam_id] [varchar](255) NULL,
	[reason] [varchar](max) NULL,
	[request_type] [varchar](255) NULL,
	[request_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[advisor_approvals_id] [varchar](255) NULL,
	[advisor_approvals] [varchar](255) NULL,
	[advisor_approvals_date] [datetime] NULL,
	[chairpersons_approvals_id] [varchar](255) NULL,
	[chairpersons_approvals] [varchar](255) NULL,
	[chairpersons_approvals_date] [datetime] NULL,
	[dean_approvals_id] [varchar](255) NULL,
	[dean_approvals] [varchar](255) NULL,
	[dean_approvals_date] [datetime] NULL,
	[comment] [varchar](max) NULL,
 CONSTRAINT [PK__request___F71A591FF8889818] PRIMARY KEY CLUSTERED 
(
	[request_cancel_exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_exam_info]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_exam_info](
	[request_exam_info_id] [int] IDENTITY(1,1) NOT NULL,
	[term] [varchar](255) NULL,
	[term_open_date] [date] NULL,
	[term_close_date] [date] NULL,
	[KQ_open_date] [date] NULL,
	[KQ_close_date] [date] NULL,
	[KQ_exam_date] [date] NULL,
	[KQ_exam_end_date] [date] NULL,
	[ET_exam_date] [date] NULL,
	[officer_registrar_id] [varchar](255) NULL,
	[info_exam_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_thesis_defense]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_thesis_defense](
	[request_thesis_defense_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](255) NULL,
	[study_group_id] [varchar](255) NULL,
	[thesis_advisor_id] [varchar](255) NULL,
	[thesis_exam_date] [datetime] NULL,
	[major_id] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
	[research_name] [varchar](255) NULL,
	[request_type] [varchar](255) NULL,
	[term] [varchar](255) NULL,
	[request_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[advisor_approvals_id] [varchar](255) NULL,
	[advisor_approvals] [varchar](255) NULL,
	[advisor_approvals_date] [datetime] NULL,
	[chairpersons_approvals_id] [varchar](255) NULL,
	[chairpersons_approvals] [varchar](255) NULL,
	[chairpersons_approvals_date] [datetime] NULL,
	[registrar_approvals_id] [varchar](255) NULL,
	[registrar_approvals] [varchar](255) NULL,
	[registrar_approvals_date] [datetime] NULL,
	[comment] [varchar](max) NULL,
	[receipt_vol] [varchar](255) NULL,
	[receipt_No] [varchar](255) NULL,
	[receipt_pay] [varchar](255) NULL,
	[receipt_pay_date] [datetime] NULL,
	[exam_results] [varchar](255) NULL,
 CONSTRAINT [PK__request___1BB8AA337BE2604A] PRIMARY KEY CLUSTERED 
(
	[request_thesis_defense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[request_thesis_proposal]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[request_thesis_proposal](
	[request_thesis_proposal_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](255) NULL,
	[study_group_id] [varchar](255) NULL,
	[thesis_advisor_id] [varchar](255) NULL,
	[thesis_exam_date] [datetime] NULL,
	[major_id] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
	[research_name] [varchar](255) NULL,
	[request_type] [varchar](255) NULL,
	[term] [varchar](255) NULL,
	[request_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[advisor_approvals_id] [varchar](255) NULL,
	[advisor_approvals] [varchar](255) NULL,
	[advisor_approvals_date] [datetime] NULL,
	[chairpersons_approvals_id] [varchar](255) NULL,
	[chairpersons_approvals] [varchar](255) NULL,
	[chairpersons_approvals_date] [datetime] NULL,
	[registrar_approvals_id] [varchar](255) NULL,
	[registrar_approvals] [varchar](255) NULL,
	[registrar_approvals_date] [datetime] NULL,
	[comment] [varchar](max) NULL,
	[receipt_vol] [varchar](255) NULL,
	[receipt_No] [varchar](255) NULL,
	[receipt_pay] [varchar](255) NULL,
	[receipt_pay_date] [datetime] NULL,
	[exam_results] [varchar](255) NULL,
 CONSTRAINT [PK__request___3C8F9D2247B9F38E] PRIMARY KEY CLUSTERED 
(
	[request_thesis_proposal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[major_id] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/11/2568 16:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[major_id] [varchar](255) NULL,
	[faculty_name] [varchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[advisorGroup_no] ON 

INSERT [dbo].[advisorGroup_no] ([id], [user_id], [group_no]) VALUES (1, N'5000000000001', N'6841401')
INSERT [dbo].[advisorGroup_no] ([id], [user_id], [group_no]) VALUES (2, N'5000000000002', N'6842702')
INSERT [dbo].[advisorGroup_no] ([id], [user_id], [group_no]) VALUES (3, N'5000000000003', N'6442401')
SET IDENTITY_INSERT [dbo].[advisorGroup_no] OFF
GO
SET IDENTITY_INSERT [dbo].[course_registration] ON 

INSERT [dbo].[course_registration] ([id], [major_id], [study_group_id], [course_id]) VALUES (162, N'09', N'6842702', N'1067101R')
INSERT [dbo].[course_registration] ([id], [major_id], [study_group_id], [course_id]) VALUES (163, N'09', N'6842702', N'1067104R')
INSERT [dbo].[course_registration] ([id], [major_id], [study_group_id], [course_id]) VALUES (164, N'09', N'6842702', N'1067105R')
SET IDENTITY_INSERT [dbo].[course_registration] OFF
GO
INSERT [dbo].[majors] ([major_id], [major_name], [id_fac], [faculty_name]) VALUES (N'00', N'ยุทธศาสตร์การบริหารและการพัฒนา', N'2', N'คณะครุศาสตร์')
INSERT [dbo].[majors] ([major_id], [major_name], [id_fac], [faculty_name]) VALUES (N'09', N'การบริหารการศึกษา', N'2', N'คณะครุศาสตร์')
INSERT [dbo].[majors] ([major_id], [major_name], [id_fac], [faculty_name]) VALUES (N'70', N'รัฐประศาสนศาสตร์', N'3', N'คณะมนุษยศาสตร์และสังคมศาสตร์')
GO
SET IDENTITY_INSERT [dbo].[request_eng_test] ON 

SET IDENTITY_INSERT [dbo].[request_eng_test] OFF
GO
SET IDENTITY_INSERT [dbo].[request_exam] ON 

SET IDENTITY_INSERT [dbo].[request_exam] OFF
GO
SET IDENTITY_INSERT [dbo].[request_exam_cancel] ON 

SET IDENTITY_INSERT [dbo].[request_exam_cancel] OFF
GO
SET IDENTITY_INSERT [dbo].[request_exam_info] ON 

INSERT [dbo].[request_exam_info] ([request_exam_info_id], [term], [term_open_date], [term_close_date], [KQ_open_date], [KQ_close_date], [KQ_exam_date], [KQ_exam_end_date], [ET_exam_date], [officer_registrar_id], [info_exam_date]) VALUES (50, N'4/67', CAST(N'2025-07-01' AS Date), CAST(N'2025-07-31' AS Date), CAST(N'2025-07-01' AS Date), CAST(N'2025-07-27' AS Date), CAST(N'2025-07-30' AS Date), CAST(N'2025-07-31' AS Date), CAST(N'2025-07-30' AS Date), N'2000000000001', CAST(N'2025-10-02T16:22:16.177' AS DateTime))
INSERT [dbo].[request_exam_info] ([request_exam_info_id], [term], [term_open_date], [term_close_date], [KQ_open_date], [KQ_close_date], [KQ_exam_date], [KQ_exam_end_date], [ET_exam_date], [officer_registrar_id], [info_exam_date]) VALUES (51, N'1/68', CAST(N'2025-08-01' AS Date), CAST(N'2025-08-31' AS Date), CAST(N'2025-08-01' AS Date), CAST(N'2025-08-27' AS Date), CAST(N'2025-08-30' AS Date), CAST(N'2025-08-31' AS Date), CAST(N'2025-08-30' AS Date), N'2000000000001', CAST(N'2025-10-02T16:22:45.860' AS DateTime))
INSERT [dbo].[request_exam_info] ([request_exam_info_id], [term], [term_open_date], [term_close_date], [KQ_open_date], [KQ_close_date], [KQ_exam_date], [KQ_exam_end_date], [ET_exam_date], [officer_registrar_id], [info_exam_date]) VALUES (52, N'2/68', CAST(N'2025-09-01' AS Date), CAST(N'2025-09-30' AS Date), CAST(N'2025-09-01' AS Date), CAST(N'2025-09-26' AS Date), CAST(N'2025-09-29' AS Date), CAST(N'2025-09-30' AS Date), CAST(N'2025-09-29' AS Date), N'2000000000001', CAST(N'2025-10-02T16:23:12.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[request_exam_info] OFF
GO
SET IDENTITY_INSERT [dbo].[request_thesis_defense] ON 

SET IDENTITY_INSERT [dbo].[request_thesis_defense] OFF
GO
SET IDENTITY_INSERT [dbo].[request_thesis_proposal] ON 

SET IDENTITY_INSERT [dbo].[request_thesis_proposal] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [user_id], [name], [role], [major_id], [faculty_name]) VALUES (1, N'001736', N'นายณัฐวุฒิ มาตกาง', N'officer_major', N'09', NULL)
INSERT [dbo].[roles] ([id], [user_id], [name], [role], [major_id], [faculty_name]) VALUES (2, N'001736', N'นายณัฐวุฒิ มาตกาง', N'chairpersons', N'09', NULL)
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [user_id], [username], [password], [name], [role], [major_id], [faculty_name]) VALUES (1, N'1000000000001', N'1000000000001', N'$2b$10$tXFEgIKNhLz29H.7CdRBwuJYr0baMW9S629BaEaF5p9s5G.XiLcyK', N'นายกิตติพงษ์ วัฒนากูล', N'officer_major', N'09', NULL)
INSERT [dbo].[users] ([id], [user_id], [username], [password], [name], [role], [major_id], [faculty_name]) VALUES (2, N'1000000000002', N'1000000000002', N'$2b$10$tXFEgIKNhLz29H.7CdRBwuJYr0baMW9S629BaEaF5p9s5G.XiLcyK', N'นางสาวธนพร สุขเจริญ', N'officer_major', N'00', NULL)
INSERT [dbo].[users] ([id], [user_id], [username], [password], [name], [role], [major_id], [faculty_name]) VALUES (3, N'1000000000003', N'1000000000003', N'$2b$10$tXFEgIKNhLz29H.7CdRBwuJYr0baMW9S629BaEaF5p9s5G.XiLcyK', N'นายวรากร ศรีสวัสดิ์', N'officer_major', N'k2', NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
