.control {
	font-weight: 500;
	display: block;
	width: 100%;
	padding: 0.5rem 0.5rem;
	color: var(--mantine-color-gray-7);
	font-size: var(--mantine-font-size-sm);
	border-radius: 8px;
	margin: 4px 12px;
	width: calc(100% - 24px);
	transition: all 0.2s ease;
}

.control:hover {
	background-color: var(--mantine-color-blue-0);
}

.control[data-active="true"] {
	background-color: var(--mantine-color-blue-light);
	color: var(--mantine-color-blue-filled);
}

.link {
	font-weight: 500;
	display: block;
	text-decoration: none;
	padding: 8px 12px;
	padding-left: 12px;
	margin: 2px 12px 2px 24px;
	font-size: var(--mantine-font-size-xs);
	border-radius: 6px;
	transition: all 0.2s ease;
}

.link:hover {
	background-color: var(--mantine-color-blue-0);
}

.link[data-active="true"] {
	background-color: var(--mantine-color-blue-light);
	color: var(--mantine-color-blue-filled);
}

.chevron {
	color: light-dark(black, white);
	transition: transform 200ms ease;
}

.mainlink {
	font-weight: 500;
	color: inherit;
	text-decoration: none;
}
