.control {
	font-weight: 500;
	display: block;
	width: 100%;
	padding: 0.5rem 0.5rem;
	color: #212529;
	font-size: 0.875rem;
	border-radius: 4px;
}

.control:hover {
	background-color: light-dark(#e9ecef, #333333);
}

.link {
	font-weight: 500;
	display: block;
	text-decoration: none;
	padding: 0.5rem 1rem;
	padding-left: 1rem;
	margin-left: 1.3rem;
	font-size: 0.875rem;
	border-left: 1px solid #dee2e6;
	color: inherit;
}

.link[data-active="true"] {
	background-color: var(--mantine-color-blue-light);
	color: var(--mantine-color-blue-filled);
}

.control[data-active="true"] {
	color: var(--mantine-color-blue-filled);
}

.link:hover {
	background-color: light-dark(#e9ecef, #333333);
}

.chevron {
	color: light-dark(black, white);
	transition: transform 200ms ease;
}

.mainlink {
	font-weight: 500;
	color: inherit;
	text-decoration: none;
}
