.nav {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.footer {
	margin-top: auto;
	padding: var(--mantine-spacing-md);
	border-top: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
}

.logout {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 10px 12px;
	border-radius: 8px;
	color: light-dark(#000, #fff);
	font-weight: 500;
	transition: all 0.2s ease;
	cursor: pointer;
}

.logout:hover {
	background-color: var(--mantine-color-red-light);
	color: var(--mantine-color-red-filled);
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	font-weight: 500;
}

.link:hover {
	background-color: #e9ecef;
}

.linkIcon {
	margin-right: var(--mantine-spacing-sm);
	width: 25px;
	height: 25px;
	transition: transform 0.2s ease; /* เตรียมขยับ */
}

.logout:hover .linkIcon {
	transform: translateX(5px);
}
