/* .nav {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.footer {
    padding: 16px;
    border-top: 1px solid var(--mantine-color-gray-2);
} */

.nav {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	position: sticky;
	top: 0;
}

.footer {
	padding: 16px;
	border-top: 1px solid var(--mantine-color-gray-2);
	flex-shrink: 0;
	background-color: #fff;
}

.logout {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 16px;
	border-radius: 10px;
	color: var(--mantine-color-red-6);
	font-weight: 600;
	font-size: var(--mantine-font-size-sm);
	transition: all 0.2s ease;
	cursor: pointer;
}

.logout:hover {
	background-color: var(--mantine-color-red-0);
	transform: translateY(-1px);
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	font-weight: 500;
}

.link:hover {
	background-color: #e9ecef;
}

.linkIcon {
	margin-right: var(--mantine-spacing-sm);
	width: 25px;
	height: 25px;
	transition: transform 0.2s ease; /* เตรียมขยับ */
}

.logout:hover .linkIcon {
	transform: translateX(5px);
}
